﻿@model IEnumerable<ELM.Models.LeTitle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.col-lg-4 -->
<div class="col-lg-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a class="btn btn-sm btn-default" href="#" onclick="ProccessLeavDays();">Proccess Day</a>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Every
                    </th>
                    <th>
                        Qty
                    </th>
                    <th>
                        Day in Year
                    </th>
                    <th>
                        Status
                    </th>
                    <th>#</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeEvery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeMaxQt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            Available Leave Entitled
        </div>
    </div>
</div>
<!-- /.col-lg-4 -->
<script>
    //Call A function using Ajax
    function ProccessLeavDays() {
        $.post("@Url.Action("Process", "LeaveEntitled")",
    function (data) {
        if (data == 0) {
            alert("Process Failed");
            location.reload();
        }
        else {
            alert("Process Completed");
            location.reload();
        }
    })};
</script>