﻿@model IEnumerable<ELM.Models.vw_LeaveAuthorizations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.col-lg-4 -->
<div class="col-lg-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a class="btn btn-sm btn-default" href="@Url.Action("NewFirstAuth", "LeaveAuthorizations")">New 1st Auth</a>
            <a class="btn btn-sm btn-default" href="@Url.Action("NewFinalAuth","LeaveAuthorizations")">New Final Auth</a>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-hover">
                <tr>
                    <th>
                        Authorizer Name
                    </th>
                    <th>
                        Authorize for Deparment
                    </th>
                    <th>
                        Authorize for Section
                    </th>
                    <th>
                        Authorize Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>#</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SectinName)
                        </td>
                        <td>
                            @if (item.AuthType == 1)
                            {
                                <p>First Authorizer</p>

                            }
                            else if (item.AuthType == 2)
                            {
                                <p>Final Authorizer</p>
                            }
                            else
                            {
                                <p>Unknown</p>
                            }
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAuth)
                        </td>
                        <td>
                            @if (item.AuthType == 1)
                            {
                                @Html.ActionLink("Change to Final Auth", "ChangeToFinal", new { id = item.ID })
                            }
                            else if (item.AuthType == 2)
                            {
                                @Html.ActionLink("Change to 1st Auth", "ChangeToFirst", new { id = item.ID })
                            }
                            else
                            {

                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            Available Authorizer
        </div>
    </div>
</div>
<!-- /.col-lg-4 -->