﻿@model ELM.Models.UserLoginVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-6">
        <h4>Change Password</h4>
        <a href="@Url.Action("Index", "Home")">Back to Home</a>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmpId, "Staff Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control", required = "Required", @readonly = "readonly" }, @value = Session["EmpId"] })
                @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PwdKey,"Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PwdKey, new { htmlAttributes = new { @class = "form-control", required = "Required", placeholder = "Enter Password", onchange = "check();" } })
                @Html.ValidationMessageFor(model => model.PwdKey, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PwdKey, "Re Enter",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PwdKey, new { htmlAttributes = new { @class = "form-control",id= "PwdKey2",name= "PwdKey2", required = "Required", placeholder = "Re type Password", onchange = "check();" } })
            </div>
        </div>

        <div class="form-group">
            <span id='message'></span>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btn1" value="Change Password" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    var check = function () {
        if (document.getElementById('PwdKey').value ==
          document.getElementById('PwdKey2').value) {
            document.getElementById('btn1').disabled = '';
        } else {
            document.getElementById('btn1').disabled = 'true';
        }
    }
</script>