﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kayesh">

    <title>ELM</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/startmin-master/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/startmin-master/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/startmin-master/css/startmin.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/startmin-master/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <form role="form">
                                <fieldset>
                                    @Html.Hidden("footPrint", value: Request.Url.AbsoluteUri)
                                    <div class="form-group">
                                        <input type="text" id="EmpId" name="EmpId" class="form-control" placeholder="Login Id" required="required" autofocus />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="PwdKey" name="PwdKey" class="form-control" placeholder="Password" required="required" />
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </fieldset>
                                <p class="alert-error" color="red">@ViewBag.Message</p>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/startmin-master/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/startmin-master/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/startmin-master/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/startmin-master/js/startmin.js"></script>
</body>
</html>