﻿@model IEnumerable<ELM.Models.vwEmployee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>
                    @Html.ActionLink("Add New", "Create")
                </p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="table1">
                        <thead>
                            <tr>
                                <th>
                                    E Id
                                </th>
                                <th>
                                    E Name
                                </th>
                                <th>
                                    Joining Date
                                </th>
                                <th>
                                    Confirm Date
                                </th>
                                <th>
                                    L Avail
                                </th>
                                <th>
                                    L Status
                                </th>
                                <th>
                                    E Status
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th>
                                    Designation
                                </th>
                                <th>
                                    Section
                                </th>
                                <th>
                                    Department
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JoiningDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConfirmDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeToDays)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsAvail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GenderType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesignationM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SectionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Employees", new { id = item.ID})" onclick="return confirm('Are you sure you want to Edit?')" class="btn btn-sm btn-primary">
                                            <i class="fa fa-check-circle"></i><span>
                                                <strong> Edit</strong>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                responsive: true
            });
        });
    </script>
}
