﻿
@{
    ViewBag.Title = "LeaveProccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Leave Proccess</h4>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Who is Avail ?
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <a class="btn btn-sm btn-primary" href="#" onclick="IsAvailForLeaveEmployee();">Avail For Leave : Employee</a>
                </div>
            </div>
            <div class="panel-footer">
                for Employee (1)
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                Avail for Leave
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <select id="rpt1" class="form-control">
                            <option value="">--Select an year--</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="rpt2" class="form-control">
                            <option value="">--Select a Leave--</option>
                            <option value="SL">Sick Leave</option>
                            <option value="CL">Casual Leave</option>
                            <option value="EL">Earn Leave</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary" href="#" onclick="InsertFromEmployee();">Add to Leave List : Employee</a>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
               Add Employee to Leave List (2)
            </div>
        </div>
    </div>
</div>
<!-- /.col-lg-4 -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Calculate current balance ?
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-6">
                        <select id="rpt3" class="form-control">
                            <option value="">--Select an year--</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-sm btn-primary" href="#" onclick="CalcLeaveBalanceLeAppsSum();">Calculate Rest Leave : Employee</a>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                after leave (3)
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>


<script>
    //Call A function using Ajax
    function IsAvailForLeaveEmployee() {
        $.post("@Url.Action("IsAvailForLeaveEmployee", "Employees")",
    function (data) {
        if (data == 0) {
            alert("Process Failed");
            location.reload();
        }
        else {
            alert("Process Completed");
            location.reload();
        }
    })
    };

    function InsertFromEmployee() {
        var rpt1 = document.getElementById('rpt1').value;
        var rpt2 = document.getElementById('rpt2').value;
        if (rpt1 != "" && rpt2 != "") {
            $.post("@Url.Action("InsertFromEmployee", "Employees")", {Year: rpt1, LT: rpt2},
            function (data) {
                if (data == 0) {
                    alert("Process Failed");
                    location.reload();
                }
                else {
                    alert("Process Completed");
                    location.reload();
                }
            })
        } else {
            alert("Select a valid data");
        }
    };

    function CalcLeaveBalanceLeAppsSum() {
        var rpt3 = document.getElementById('rpt3').value;
        if (rpt3 != "" ) {
        $.post("@Url.Action("CalcLeaveBalanceLeAppsSum", "Employees")", {Year: rpt3},
        function (data) {
            if (data == 0) {
                alert("Process Failed");
                location.reload();
            }
            else {
                alert("Process Completed");
                location.reload();
            }
        })
        } else {
            alert("Select a valid data");
        }
    };
</script>
