﻿@model ELM.Models.Gender

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()
    <div class="form-horizontal col-md-6">
        <h4>Edt Gender</h4>
        @Html.ActionLink("Back to List", "Index")
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UDT)
        <div class="form-group">
            @Html.LabelFor(model => model.GenderType, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GenderType, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Gender Name" } })
                @Html.ValidationMessageFor(model => model.GenderType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}