﻿@model IEnumerable<ELM.Models.Gender>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.col-lg-4 -->
<div class="col-lg-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Gender
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-hover">
                <tr>
                    <th>
                       Gender Name
                    </th>
                    <th>#</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderType)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            No Change Available
        </div>
    </div>
</div>
<!-- /.col-lg-4 -->
