﻿@model IEnumerable<ELM.Models.vwLeaveFirstAuthorize>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Waiting for 1st Approval
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="table1">
                        <thead>
                            <tr>
                                <th>
                                    Emp. Id
                                </th>
                                <th>
                                    Emp. Name
                                </th>
                                <th>
                                    Leave Type
                                </th>
                                <th>
                                    From Date
                                </th>
                                <th>
                                    To Date
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Reason
                                </th>
                                <th>
                                    Stay
                                </th>
                                <th>
                                    Documents
                                </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDates)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDates)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveReason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WreStayInLeave)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeDocuments)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Approve", "FirstApproval", new { id = item.ID})" onclick="return confirm('Are you sure you want to Approve?')" class="btn btn-sm btn-primary">
                                            <i class="fa fa-check-circle"></i><span>
                                                <strong> Approve</strong>
                                            </span>
                                        </a>
                                        <a href="@Url.Action("Reject", "FirstApproval", new { id = item.ID})" onclick="return confirm('Are you sure you want to Reject?')" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash-o"></i><span>
                                                <strong> Reject</strong>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                responsive: true
            });
        });
    </script>
}