﻿@model IEnumerable<ELM.Models.LeApp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Show Balance</a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <p>SL: @ViewBag.SL / @ViewBag.SL1</p>
                </div>
                <div class="col-md-2">
                    <p>EL: @ViewBag.EL / @ViewBag.EL1</p>
                </div>
                <div class="col-md-2">
                    <p>CL: @ViewBag.CL / @ViewBag.CL1</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Create", "LeaveApplication")" , class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i><span>
                        <strong> Apply Now</strong>
                    </span>
                </a>
                <a href="@Url.Action("MoreLeaveApply", "LeaveApplication")" , class="btn btn-primary">
                    <i class="fa fa-bolt"></i><span>
                        <strong> Apply Mix</strong>
                    </span>
                </a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="table1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    From
                                </th>
                                <th>
                                    To
                                </th>
                                <th>
                                    Days
                                </th>
                                <th>
                                    Reason
                                </th>
                                <th>
                                    Where
                                </th>
                                <th>
                                    Doc
                                </th>
                                <th>
                                    Half?
                                </th>
                                <th>
                                    1st Approve
                                </th>
                                <th>
                                    Final Approve
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.FK_ApproverA == null)
                {

                                            <a href="@Url.Action("Revoke", "LeaveApplication", new { id = item.ID})" onclick="return confirm('Are you sure you want to Delete?')" class="btn btn-primary">
                                                <i class="fa fa-trash-o"></i><span>
                                                    <strong> Del</strong>
                                                </span>
                                            </a>

                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDates)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDates)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveReason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WreStayInLeave)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeDocuments)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsHalfLe)
                                    </td>
                                    <td>
                                        @if (item.FK_ApproverA != null)
                {
                                            <i class="fa fa-check-circle-o"></i>
                                        }
                                    </td>
                                    <td>
                                        @if (item.FK_ApproverB != null)
                {
                                            <i class="fa fa-check-circle-o"></i>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section scripts{
    <script>
    $(document).ready(function () {
        $('#table1').DataTable({
            responsive: true
        });
    });
</script>
    }
