﻿@model ELM.Models.MoreLeaveApplyVM

@{
    ViewBag.Title = "MoreLeaveApply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-success">
            <div class="panel-heading">
                Mixed Leave Application 
                @Html.ActionLink("Back to List", "Index")
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <p>Currently half leave not available now</p>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CLFK_LeTitle, "CL", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 checkbox-inline">
                                        @Html.CheckBox("CLFK_LeTitle", new { htmlAttributes = new { @class = "form-control", onChange = "CheckBalance();" } })
                                        @Html.ValidationMessageFor(model => model.CLFK_LeTitle, "", new { @class = "text-danger" })
                                        <p style="color:red;"> @ViewBag.CLmsg</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CLfrom, "From", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.CLfrom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CLfrom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CLto, "To", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.CLto, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CLto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SLFK_LeTitle, "SL", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 checkbox-inline">
                                        @Html.CheckBox("SLFK_LeTitle", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SLFK_LeTitle, "", new { @class = "text-danger" })
                                        <p style="color:red"> @ViewBag.SLmsg</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SLfrom, "From", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SLfrom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SLfrom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SLto, "To", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SLto, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SLto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ELFK_LeTitle, "EL", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 checkbox-inline">
                                        @Html.CheckBox("ELFK_LeTitle", new { htmlAttributes = new { @class = "form-control checkbox" } })
                                        @Html.ValidationMessageFor(model => model.ELFK_LeTitle, "", new { @class = "text-danger" })
                                        <p style="color:red"> @ViewBag.ELmsg</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ELform, "From", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ELform, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ELform, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ELto, "To", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ELto, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ELto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LeaveReason, "Reason", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LeaveReason, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Description" } })
                                        @Html.ValidationMessageFor(model => model.LeaveReason, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.WreStayInLeave, "Where stay during leave?", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.WreStayInLeave, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Where ?" } })
                                        @Html.ValidationMessageFor(model => model.WreStayInLeave, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LeDocuments, "Doc", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LeDocuments, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LeDocuments, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsHalfLe, "With Half", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsHalfLe)
                                            @Html.ValidationMessageFor(model => model.IsHalfLe, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.FK_Employee, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.FK_Employee, null, htmlAttributes: new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.FK_Employee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Apply" class="btn btn-primary" />
                            </div>
                            @ViewBag.Err
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer">
                <p id="Status" name="Status"></p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
            $(document).ready(function () {
                var d = new Date();
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();
                if (Math.floor(day / 10) === 0) {
                    day = "0" + day;
                }
                if (Math.floor(month / 10) === 0) {
                    month = "0" + month;
                }
                document.getElementById("CLfrom").value = year + "-" + month + "-" + day;
                document.getElementById("CLto").value = year + "-" + month + "-" + day;
                document.getElementById("SLfrom").value = year + "-" + month + "-" + day;
                document.getElementById("SLto").value = year + "-" + month + "-" + day;
                document.getElementById("ELform").value = year + "-" + month + "-" + day;
                document.getElementById("ELto").value = year + "-" + month + "-" + day;

                //set initial state.
                $('#CLFK_LeTitle').change(function () {
                    $("#CLfrom").prop("disabled", !$(this).is(':checked'));
                    $("#CLto").prop("disabled", !$(this).is(':checked'));
                    $("#CLfrom").prop('required', true);
                    $("#CLto").prop('required', true);

                    $("#Status").html("Checking...");
                    $.post("@Url.Action("CheckBalance", "LeaveApplication")",
                        {
                            Ltype: 3,
                            d1: $("#CLfrom").val(),
                            d2: $("#CLto").val(),
                            usr: $("#FK_Employee").val()
                        },
                    function (data) {
                        if (data == 0) {
                            $("#Status").html('<font color="Green">Available! you can take it.</font>');
                            $("#CompanyCode").css("border-color", "Green");
                            $("input[type='submit']").removeAttr('disabled');
                        } else if (data == 2) {
                            $("#Status").html('<font color="Red">Sorry! Negetive days not applied.</font>');
                            $("#CompanyCode").css("border-color", "Green");
                            $("input[type='submit']").removeAttr('disabled');
                        }
                        else {
                            $("#Status").html('<font color="Red">Not available! Try another.</font>');
                            $("#CompanyCode").css("border-color", "Red");
                            $("input[type='submit']").attr('disabled', 'disabled');
                        }
                    });

                });

                $('#SLFK_LeTitle').change(function () {
                    $("#SLfrom").prop("disabled", !$(this).is(':checked'));
                    $("#SLto").prop("disabled", !$(this).is(':checked'));
                    $("#SLfrom").prop('required', true);
                    $("#SLto").prop('required', true);
                    $("#Status").html("Checking...");

                    $.post("@Url.Action("CheckBalance", "LeaveApplication")",
                        {
                            Ltype: 1,
                            d1: $("#SLfrom").val(),
                            d2: $("#SLto").val(),
                            usr: $("#FK_Employee").val()
                        },
                    function (data) {
                        if (data == 0) {
                            $("#Status").html('<font color="Green">Available! you can take it.</font>');
                            $("#CompanyCode").css("border-color", "Green");
                            $("input[type='submit']").removeAttr('disabled');
                        } else if (data == 2) {
                            $("#Status").html('<font color="Red">Sorry! Negetive days not applied.</font>');
                            $("#CompanyCode").css("border-color", "Green");
                            $("input[type='submit']").removeAttr('disabled');
                        }
                        else {
                            $("#Status").html('<font color="Red">Not available! Try another.</font>');
                            $("#CompanyCode").css("border-color", "Red");
                            $("input[type='submit']").attr('disabled', 'disabled');
                        }
                    });
                });

                $('#ELFK_LeTitle').change(function () {
                    $("#ELform").prop("disabled", !$(this).is(':checked'));
                    $("#ELto").prop("disabled", !$(this).is(':checked'));
                    $("#ELform").prop('required', true);
                    $("#ELto").prop('required', true);

                    $("#Status").html("Checking...");
                    $.post("@Url.Action("CheckBalance", "LeaveApplication")",
                        {
                            Ltype: 2,
                            d1: $("#ELform").val(),
                            d2: $("#ELto").val(),
                            usr: $("#FK_Employee").val()
                        },
                    function (data) {
                        if (data == 0) {
                            $("#Status").html('<font color="Green">Available! you can take it.</font>');
                            $("#CompanyCode").css("border-color", "Green");
                            $("input[type='submit']").removeAttr('disabled');
                        } else if (data == 2) {
                            $("#Status").html('<font color="Red">Sorry! Negetive days not applied.</font>');
                            $("#CompanyCode").css("border-color", "Green");
                            $("input[type='submit']").removeAttr('disabled');
                        }
                        else {
                            $("#Status").html('<font color="Red">Not available! Try another.</font>');
                            $("#CompanyCode").css("border-color", "Red");
                            $("input[type='submit']").attr('disabled', 'disabled');
                        }
                    });
                });
            });
    </script>
}
