﻿@model ELM.Models.RptEmployee
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Employee", "ReportManager"))
{
    <div class="row">
        <p>Emp Status</p>
        <div class="col-md-2">
            @Html.DropDownList("Gender", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Designation", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Departments", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Sections", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            @Html.DropDownList("IsAvail", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("IsActive", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}

<hr/>
@using (Html.BeginForm("LeaveStatus", "ReportManager"))
{
    <div class="row">
        <p>Leave Status</p>
        <div class="col-md-2">
            @Html.DropDownList("Gender", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Designation", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Departments", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Sections", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            @Html.DropDownList("LYear", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("LType", null, "--Select all--", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}