﻿@model IEnumerable<ELM.Models.VW_Rpt_leaveSummary>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" id="exam">
    <tr>
        <th>
            Emp Id
        </th>
        <th>
            Emp Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Confirm Date
        </th>
        <th>
            Days
        </th>
        <th>
            Designation
        </th>
        <th>
            Section Name
        </th>
        <th>
            Department Name
        </th>
        <th>
            Is Active
        </th>
        <th>
            Year
        </th>
        <th>
            Balance
        </th>
        <th>
            Carry
        </th>
        <th>
            Used
        </th>
        <th>
            Type
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(a => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(a => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(a => item.GenderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeToDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(a => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(a => item.LYear)
            </td>
            <td>
                @Html.DisplayFor(a => item.LeBalance)
            </td>
            <td>
                @Html.DisplayFor(a => item.LeCarried)
            </td>
            <td>
                @Html.DisplayFor(a => item.LeUsed)
            </td>
            <td>
                @Html.DisplayFor(a => item.LeType)
            </td>
        </tr>
    }

</table>
