﻿@model IEnumerable<ELM.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.col-lg-4 -->
<div class="col-lg-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a class="btn btn-sm btn-default" href="@Url.Action("Create","Departments")">New Department</a>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Department Name
                    </th>
                    <th>
                        In Details
                    </th>
                    <th>
                        Status
                    </th>
                    <th>#</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentNote)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            Available Departments
        </div>
    </div>
</div>
<!-- /.col-lg-4 -->